.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    background-color: #F3F3F3;
    padding: 20px;
}

.box {
    width: auto;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alumno {
    background-color: #ABFFB0;
    align-self: flex-end;
    text-align: right;
    padding: 20px;
    padding-bottom: 2px;
    
}


.profesor {
    background-color: #D3FFF5;
    align-self: flex-start;
    padding: 20px;
    padding-bottom: 2px;
}

.imagen:nth-child(n) {
    width: 70px;
    background-color: red;
    padding: 10px;
    border-radius: 99px;
    align-self: flex-start;
    z-index: 1;
    margin-bottom: 20px;
}