.container_luteacher {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
}


.titulo {
    text-align: center;
}

.barra {
    height: 250px !important;
    }
